.buttonContainer {
  text-align: center;
}

.buttonContainer button {
  cursor: pointer;

  width: 240px;
  margin: 10px;
  padding: 10px;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;

  background: linear-gradient(0.5turn, #604b3f, #8e4b01);
  border: none;
  border-radius: 8px;
}
