.button {
  cursor: pointer;

  width: 160px;
  margin: 10px;
  padding: 10px;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;

  border: none;
  border-radius: 8px;
}

.button:disabled {
  background: linear-gradient(0.5turn, #604b3f, #bebebe);
  opacity: 0.5;
}
