.filter {
  &::before {
    content: '';

    position: absolute;
    right: 0;

    width: 251px;
    height: 314px;

    opacity: 0.5;
    background: #ff5400;
    filter: blur(5.5rem);
    border-radius: 50%;
  }
}

.title {
  margin-bottom: 20px;
  color: #fff;
  text-align: center;

  &Filter {
    margin-bottom: 10px;
    padding: 20px;
    font-size: 1.2rem;
  }
}

.group {
  margin-bottom: 20px;
  padding: 0;
  border: none;
}

.list {
  padding: 0;
  list-style: none;
}

.listItem {
  position: relative;
}

.listItem label {
  cursor: pointer;

  position: relative;

  display: block;

  margin-bottom: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;

  font-size: 17px;
}

.listItem .radioLabel {
  &::before {
    bottom: 5px;
    left: 17px;

    width: 20px;
    height: 20px;

    background-color: #c9c9c9;
  }

  &::after {
    bottom: 8px;
    left: 20px;

    width: 14px;
    height: 14px;

    background-color: #f09522;
  }
}

.listItem input:checked + .radioLabel::after,
.listItem input + .radioLabel::before {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.listItem .labelCheckbox::before,
.listItem .labelCheckbox::after {
  content: '';
  position: absolute;
  transition: opacity 0.25s ease;
}

.listItem .labelCheckbox {
  &::before {
    top: 7px;
    left: 19px;

    width: 22px;
    height: 22px;

    background-color: #eee;
    border-radius: 3px;
  }

  &::after {
    top: 10px;
    left: 26px;
    transform: rotate(45deg);

    width: 5px;
    height: 10px;

    opacity: 0;
    border: solid #333;
    border-width: 0 2px 2px 0;
  }
}

.listItem input:checked + .labelCheckbox::before {
  background-color: #f09522;
}

.listItem input:checked + .labelCheckbox::after {
  opacity: 1;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer button {
  cursor: pointer;

  width: 300px;
  margin: 10px;
  padding: 10px;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;

  background: linear-gradient(0.5turn, #604b3f, #8e4b01);
  border: none;
  border-radius: 8px;
}

@media (width >= 1000px) {
  .filter {
    width: 350px;
  }
}

@media (width < 1000px) and (width > 500px) {
  .filterContainer {
    display: flex;
    justify-content: center;
  }
}
