.catalog {
  margin-bottom: 50px;
}

.list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  list-style: none;
}

.listItem {
  position: relative;

  width: 315px;
  height: 460px;
  margin: 10px;

  background-color: #2f1700;
  border-radius: 5px;
}

@media (width >= 700px) {
  .list {
    display: flex;
    flex-wrap: wrap;
  }
}
