.catalog {
  margin-bottom: 50px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;

  list-style: none;
}

.listItem {
  position: relative;

  width: 315px;
  height: 460px;
  margin: 10px;

  background-color: #2f1700;
  border-radius: 5px;
}

.icon {
  position: absolute;
  bottom: 23px;
  left: 106px;
}

.buttonDelete {
  background: linear-gradient(0.5turn, #604b3f, #bf0404);
}

.button {
  background: linear-gradient(0.5turn, #604b3f, #8e4b01);
}

.buttonContainerDelete {
  text-align: end;
}

.buttonContainer {
  text-align: end;
}

@media (width >= 700px) {
  .list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (width >= 1000px) {
  .list {
    justify-content: flex-start;
  }
}
