.nav {
  height: 100%;
}

.container {
  position: relative;
}

.containerButton {
  display: none;
}

.list {
  display: flex;
  align-items: center;
  height: 80px;
  list-style: none;

  &Item {
    padding: 17px;
  }
}

@media (width <= 410px) {
  .list {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;

    display: block;

    width: 100%;
    height: auto;

    text-align: center;

    background-color: #000;

    &Item {
      border-bottom: 2px solid #f09522;

      &:first-child {
        border-top: 2px solid #f09522;
      }
    }

    &Link {
      display: block;
      width: 100%;
      padding: 20px;
    }
  }

  .containerButton {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
    padding: 20px;
  }

  .containerShow {
    display: block;
  }

  .containerHide {
    display: none;
  }

  .buttonMenu {
    cursor: pointer;
    content: '';

    position: absolute;
    right: 30px;

    width: 15px;
    height: 15px;

    background-color: transparent;
    border: 0;
    outline: none;

    &::before {
      content: '';

      position: absolute;
      top: 30%;
      left: 0;

      width: 14px;
      height: 2px;

      border-top: 6px double #fff;
      border-bottom: 2px solid #fff;
    }
  }
}
