.footer {
  height: 80px;
  border-top: 1px solid #2f1700;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 30px;

  & a {
    margin: 10px;
  }
}

.copyrigth {
  font-size: 12px;
  text-align: end;
}
