.title {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
}

.mainImageContainer {
  position: relative;
  width: 100%;
  object-fit: contain;
  text-align: center;
}

.mainImage {
  max-height: 600px;
  max-width: fit-content;
}

.videoContainer {
  text-align: center;
}

.textContainer {
  padding: 20px;
  font-size: 1.1rem;
}

.listActions {
  margin-bottom: 20px;
  padding-left: 30px;
}

.description {
  margin-top: 10px;
}

.imageContainer {
  text-align: center;
}

.backButton {
  cursor: pointer;

  margin-left: 30px;
  padding: 10px 10px 10px 35px;

  color: #fff;

  background-color: rgb(208 208 215 / 40%);
  background-image: url('../../assets/arrow-back.svg');
  background-repeat: no-repeat;
  background-position: 8px;
  border: none;
  border-radius: 10px;
}
