.mainImage {
  display: block;
  max-height: 800px;
  object-fit: cover;
}

.mainInfo {
  margin-bottom: 0;
}

.container {
  position: relative;
  color: #fff;
  background-color: #000;
}

.title {
  padding: 20px;

  font-family: Roboto, Aral, sans-serif;
  font-size: 30px;
  color: #FFF;
  text-align: center;

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    bottom: 0;

    width: 251px;
    height: 255px;

    opacity: 0.5;
    background: #FF5400;
    filter: blur(2.5rem);
    border-radius: 50%;
  }

  &Name {
    color: #F09522;
  }
}

.description {
  position: relative;
  z-index: 1;
  top: 40px;

  width: 320px;
  margin: 20px auto;
  padding: 20px;

  font-family: Roboto, Arial, sans-serif;
  line-height: 24px;
  text-align: center;
}

@media (width <= 500px) {
  .mainInfo {
    margin-bottom: 60px;
  }

  .containerText {
    top: 58px;
  }

  .background {
    z-index: 1;
    width: 100%;
    height: 35%;
    background: linear-gradient(to top, #000 73%, transparent 100%, transparent 85%);
  }

  .title {
    position: absolute;
    bottom: 16%;
  }
}


@media (width >= 501px) {
  .containerText {
    position: absolute;
    z-index: 1;
    top: 71px;

    width: 336px;
    height: 265px;

    background-color: rgb(0 0 0 / 46%);
    border-radius: 10px;
  }

  .description {
    top: 0;

    margin-top: 0;
    padding: 20px;

    font-family: Roboto, Arial, sans-serif;
    line-height: 24px;
    text-align: center;
  }

  .title {
    &::before {
      bottom: -110px;
      width: 424px;
      height: 454px;
    }
  }
}