.mainImage {
  max-width: 100%;
  height: auto;
  display: block;
}

.mainInfo {
  margin-bottom: 60px;
}

.container {
  position: relative;
  color: #fff;
  background-color: #000;
}

.title {
  font-family: 'Roboto', 'Aral', sans-serif;
  font-size: 30px;
  padding: 20px;

  &Name {
    color: #F09522;
  }
}

@media (max-width: 360px) {

  .background {
    background: linear-gradient(to top, #000 50%, transparent 75%, transparent 75%);
    z-index: 1;
  }

  .title {
    position: absolute;
    top: 170px;
    color: #FFF;
    text-align: center;

    &::before {
      position: absolute;
      content: "";
      bottom: -70px;
      width: 251px;
      height: 255px;
      opacity: 0.5;
      border-radius: 50%;
      filter: blur(2.5rem);
      background: #FF5400;
      z-index: -1;
    }
  }

  .description {
    font-family: 'Roboto', 'Arial', sans-serif;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    line-height: 20px;
  }

}