.container {
  position: relative;
}

.numberExercises {
  position: absolute;
  z-index: 2;
  right: 60px;
  bottom: 24px;

  width: 13px;
  height: 15px;

  font-size: 10px;
  text-align: center;

  background-color: green;
  border-radius: 50%;
}

.svgProgram {
  position: absolute;
  top: 30px;
  right: 127px;
  bottom: 0;

  width: 24px;

  fill: white;
}

@media (width >= 410px) {
  .svgProgram {
    right: 60px;
  }
}
